services:
  mongodb:
      image: mongo:8.0.5
      container_name: my_mongodb
      restart: always
      ports:
        - "27017:27017"
      env_file:
        - ~/bot_cfg/.env
      volumes:
        - mongodb_data:/data/db
      networks:
        - bot_net_default

  bot:
    build:
      context: .
    container_name: my_bot
    env_file:
      - ~/bot_cfg/.env
    networks:
      - bot_net_default
    restart: unless-stopped
    depends_on:
      - mongodb

networks:
  bot_net_default:
    driver: bridge

volumes:
  mongodb_data:
    driver: local
